.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer footer footer"
  ;
  min-height: 80vh;
  margin-top: 4rem;
  gap: 0.5rem;
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
 
  }
  
  .header {
  grid-area:header;
  }
  
  .main {
    grid-area: main;
  }

  .featured-articles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
   
  .article-cards {
    min-height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }
  

  .card {
    min-height: 35rem;
    max-width: 23rem;
  }
   
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
   
  #img1, #img2, #img3 {
    height: 228.42px;
  }
  
  .footer__content {
    grid-area: footer;
    text-align: left;
    font-weight: bold;
    padding: 1rem;
  }